# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
selenium-debug.log

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# We use yarn.lock, not package-lock.json
/package-lock.json

# Just an extra precaution. At the moment, some demo instances of this site have
# a data/ directory which should not be published.
data/

# Scripts that help me (openjck) deploy the site to various platforms. These
# scripts would be of no use to anyone else and would disclose full paths.
deploy-scripts/
