.sk-spinner {
    color: #000;
    height: 50px;
    margin: 50px auto; /* 50px leaves enough room for the ::after styles */
}

.sk-spinner::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    z-index: 40;
    left: -33px;
    top: -33px;
}

.sk-spinner > div {
    z-index: 50;
}
