html {
    box-sizing: border-box;
}

@font-face {
    src: local('FiraSansOTLight'),
         local('FiraSansLight'),
         local('Fira Sans OT Light'),
         local('Fira Sans Light'),
         url('../fonts/FiraSans/firasansot-light-webfont.woff') format('woff'),
         url('../fonts/FiraSans/firasansot-light-webfont.ttf') format('truetype'),
         url('../fonts/FiraSans/firasansot-light-webfont.svg#fira_sans_otlight') format('svg');
    font-family: FiraSansWeb;
    font-weight: 200;
}

/* Jon Neal approach to a box-sizing reset. */
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #000;
    font-family: "Fira Sans OT", "Fira Sans", FiraSansWeb, sans-serif;
    font-size: 13px;
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-size: 1920px auto;
}

#application {
    margin: 0 auto;
    position: relative;
    top: 10px;
    width: 95vw;
}

main {
    padding: 12px 0;
}

a {
    color: #0198E1;
    text-decoration: none;
    border-bottom: 1px solid #0198E1;
}

a:hover {
    color: #1874CD;
    border-bottom: 1px solid #1874CD;
}

p {
    font-size: 1rem;
    line-height: 28px;
    margin: 10px 0;
}

@media all and (min-width: 550px) {
    body {
        font-size: 14px;
    }
    #application {
        top: 40px;
        width: 85vw;
    }
    p {
        font-size: 1.1rem;
    }
    main {
        padding: 20px 0;
    }
}

@media all and (min-width: 1200px) {
    #application {
        width: 1170px;
    }
}
