body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main-header {
    background: #eaeff2 url(../img/grain.png);
    padding: 20px;
}

#main-header h1 {
    margin: 0;
    padding: 0;
}

#main-header a {
    text-decoration: none;
    color: #000;
}

p {
    line-height: 1.3;
}
