html {
    box-sizing: border-box;
}

@font-face {
    /* stylelint-disable indentation */
    src: local('FiraSansOTLight'),
         local('FiraSansLight'),
         local('Fira Sans OT Light'),
         local('Fira Sans Light'),
         url('../fonts/FiraSans/firasansot-light-webfont.woff') format('woff'),
         url('../fonts/FiraSans/firasansot-light-webfont.ttf') format('truetype'),
         url('../fonts/FiraSans/firasansot-light-webfont.svg#fira_sans_otlight') format('svg');
    /* stylelint-enable */
    font-family: FiraSansWeb;
    font-weight: 200;
}

/* Jon Neal approach to a box-sizing reset. */
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: #000;
    font-family: "Fira Sans OT", "Fira Sans", FiraSansWeb, sans-serif;
    font-size: 13px;
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-size: 1920px auto;
}

#application {
    position: relative;
    top: 10px;
}

#main-header, main, footer > div {
    margin: 0 auto;
    width: 95vw;
}

main {
    padding: 12px 0;
}

a {
    color: #0070ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    border-bottom: 1px solid #0070ff;
}

p {
    font-size: 1rem;
    line-height: 28px;
    margin: 10px 0;
}

h2, h3 {
    font-size: 17px;
}

.contrasted {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.2;
    padding: 10px;
}

dd {
    margin: 0;
}

@media all and (min-width: 550px) {
    body {
        font-size: 14px;
    }

    #application {
        top: 40px;
    }

    #main-header, main, footer > div {
        width: 85vw;
    }

    p {
        font-size: 1.1rem;
    }

    main {
        padding: 20px 0;
    }
}

@media all and (min-width: 1200px) {
    #main-header, main, footer > div {
        width: 1170px;
    }
}
