.chart-wrapper {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.chart-description {
    background: #f6f6f6;
    margin: 0;
    padding: 20px;
    width: 20%;
}

.chart-wrapper:first-child {
    margin-top: 0;
}

.chart-wrapper:last-child {
    margin-bottom: 0;
}

.chart-wrapper .chart-and-legend div {
    float: left;
}

.chart-wrapper .legend span {
    display: block;
    margin: 5px 0;
}
