#dashboard h2 {
    font-size: 1.4rem;
    font-weight: 200;
    margin-bottom: 0;
    text-align: center;
}

#dashboard #metrics-heading {
    display: none;
}

#dashboard-description {
    margin: 10px;
}

#dashboard-description:empty {
    margin: 0;
}

#category {
    background: #fff;
    padding: 20px 0;
    z-index: 10;
}

.dashboard-header {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    z-index: 10;
}

.dashboard-header h2 {
    margin: 0;
}

.metric-overview-collection {
    margin-top: 25px;
}

#summary-metrics {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 550px) {
    .dashboard-header {
        flex-direction: row;
        position: sticky;
    }
}
