#dashboard h2 {
    font-size: 22px;
    font-weight: 200;
    margin: 20px 0;
    margin-bottom: 0;
    text-align: center;
}

#dashboard-description:empty {
    margin: 0;
}

#category {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
}

#category label {
    margin-right: 10px;
}

#category label::after {
    content: ": ";
}

.metric-overview-collection {
    margin-top: 25px;
}
