#dashboard h2 {
    font-size: 1.4rem;
    font-weight: 200;
    margin-bottom: 0;
    text-align: center;
}

#dashboard #metrics-heading {
    display: none;
}

#dashboard-description:empty {
    margin: 0;
}

#category {
    background: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

.metric-overview-collection {
    margin-top: 25px;
}

#summary-metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
}
