#main-header {
    align-items: center;
    border-bottom: 1px solid #676767;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15px;
}

h1 {
    margin: 0;
    font-weight: 300;
}

h1 a {
    color: inherit;
    border-bottom: 0;
}

h1 a:hover {
    border-bottom: 0;
}

#main-navigation ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    color: #f1f1f1;
}

#main-navigation li {
    margin: 0 20px;
}

#main-navigation li:first-child {
    margin-left: 0;
}

#main-navigation li:last-child {
    margin-right: 0;
}

header h3 {
    font-size: 22px;
    font-weight: 200;
    line-height: 2.5;
}
