#main-header {
    align-items: center;
    border-bottom: 1px solid #676767;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15px;
}

h1 {
    margin: 0;
    font-weight: 300;
}

h1 a {
    color: inherit;
    border-bottom: 0;
    background-color: #f5e14a;
    line-height: 1.5;
    display: inline-block;
    padding: 0 10px;
}

h1 a:hover {
    color: #000;
    border-bottom: 0;
}

#main-navigation {
    z-index: 20; /* Make any pop-up that appears draw over all other elements */
}

#main-navigation ul {
    justify-content: center;
    list-style: none;
    padding: 0;
}

#main-navigation > ul {
    display: flex;
}

#main-navigation > ul > li {
    margin: 0 20px;
    position: relative;
}

#main-navigation > ul > li:first-child {
    margin-left: 0;
}

#main-navigation > ul > li:last-child {
    margin-right: 0;
}

.navigation-section-title {
    color: #000;

    /* In addition to making the cursor a pointer, this makes the "hover" effect
       a "tap" effect on some mobile browsers. That is, in our case, tapping on
       a section title will cause the submenu to appear when this rule is
       present. */
    cursor: pointer;

    /* Vertically align the title and the arrow */
    display: flex;
    align-items: center;
}

/* Add a down arrow to the right of the navigation section title */
.navigation-section-title::after {
    content: "\25BC";
    padding-left: 8px;
    font-size: .7em;
}

.navigation-section-members {
    display: none;
}

.navigation-section:hover .navigation-section-members, .navigation-coming-soon-message {
    background: #fff;
    box-shadow: 3px 3px 3px #666;
    white-space: nowrap;

    position: absolute;
}

.navigation-section:hover .navigation-section-members {
    display: flex;
    flex-direction: column;

    left: -20px; /* Equal to the left-padding of the li, so that text aligns */
}

.navigation-section:hover li {
    padding: 8px 20px;
}

.navigation-section:hover li:first-child {
    padding-top: 16px; /* 2x the normal padding */
}

.navigation-section:hover li:last-child {
    padding-bottom: 16px; /* 2x the normal padding */
}

.navigation-coming-soon-message {
    display: none;
}

.navigation-coming-soon:hover .navigation-coming-soon-message {
    display: block;
    padding: 15px;
    left: -15px; /* Equal to the left-padding so that text aligns */
}

#main-header h3 {
    font-size: 22px;
    font-weight: 200;
    line-height: 2.5;
}
