.metric-wrapper {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.metric-description {
    background: #131313;
    margin: 0;
    padding: 12px;
    width: 30%;
    color: #a0a0a0;
}

.metric-wrapper:first-child {
    margin-top: 0;
}

.metric-wrapper:last-child {
    margin-bottom: 0;
}

.metric-wrapper .metric-and-legend div {
    float: left;
}

.metric-wrapper .legend {
    font-size: .8em;
}

.metric-wrapper .legend span {
    display: block;
    margin: 5px 0;
}
