.metric-overview {
    align-items: flex-start;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}

.metric-description {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    font-size: 1rem;
    margin: 0;
    padding: 12px;
    position: relative;
    top: -20px;
}

/* Exclude the top margin of the first paragraph of a multi-paragraph
   description */
.metric-description p:first-child {
    margin-top: 0;
}

/* Exclude the bottom margin of the last paragraph of a multi-paragraph
   description */
.metric-description p:last-child {
    margin-bottom: 0;
}

.metric-overview:first-child {
    margin-top: 0;
}

.metric-overview:last-child {
    margin-bottom: 0;
}

.metric-overview .metric-and-legend div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.metric-overview .legend {
    font-size: .9em;
    max-width: 500px;
    font-weight: 400;
}

.metric-overview .legend span {
    display: block;
    margin: 5px;
}

@media all and (min-width: 550px) {
    .metric-overview .legend span {
        margin: 5px;
    }
}

@media all and (min-width: 900px) {
    .metric-overview {
        flex-direction: row;
    }

    .metric-description {
        width: 30%;
        margin: 0;
        position: static;
    }
}

@media all and (min-width: 1200px) {
    .metric-overview .metric-and-legend div {
        display: block;
        float: left;
    }

    .metric-overview .legend span {
        margin: 5px 0;
    }
}
