.metric-overview {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}

.metric-description p {
    font-size: 1.1rem;
}

.metric-description p:only-child {
    margin-top: 0;
    margin-bottom: 0;
}

/* Exclude the top margin of the first paragraph of a multi-paragraph
   description */
.metric-description p:first-child {
    margin-top: 0;
}

/* Exclude the bottom margin of the last paragraph of a multi-paragraph
   description */
.metric-description p:last-child {
    margin-bottom: 0;
}

.metric-overview:first-child {
    margin-top: 0;
}

.metric-overview:last-child {
    margin-bottom: 0;
}

.metric-overview .metric-and-legend > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.metric-overview .legend {
    font-size: .9em;
    max-width: 1100px;
    font-weight: 400;
}

.metric-overview .striped {
    width: 100%;
}

.metric-overview .legend span {
    display: block;
    margin: 5px;
}

@media all and (min-width: 550px) {
    .metric-overview .legend span {
        margin: 5px;
    }
}

@media all and (min-width: 1200px) {
    .metric-overview .legend span {
        margin: 5px 0;
    }
}
