.sk-spinner {
    color: #fff;
    left: calc(50% - 25px);
}

.sk-spinner::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    z-index: 40;
    left: -33px;
    top: -33px;
}

.sk-spinner > div {
    z-index: 50;
}
