Options -MultiViews
RewriteEngine On
RewriteRule ^$ index.html
RewriteRule ^dashboard/user-activity$ index.html
RewriteRule ^dashboard/usage-behavior$ index.html
RewriteRule ^dashboard/hardware$ index.html
