Options -MultiViews
RewriteEngine On

# Ops routes
RewriteRule ^__heartbeat__$ ops/heartbeat.html
RewriteRule ^__lbheartbeat__$ ops/lbheartbeat.html
RewriteRule ^__version__$ ops/version.json

# React routes
RewriteRule ^$ index.html
RewriteRule ^dashboard/user-activity$ index.html
RewriteRule ^dashboard/usage-behavior$ index.html
RewriteRule ^dashboard/hardware$ index.html
