@import 'includes/lib';

html {
    box-sizing: border-box;
}

/**
 * The PostScript names for these fonts can (which are specified within local())
 * can be determined by using the Font Book application on Mac.
 *
 * https://apple.stackexchange.com/a/79889
 *
 * The SVG IDs (which come after the # in the svg filename) can be determined by
 * inspecting the raw text content of the SVG files.
 */
// @stylint off
@font-face {
    src: local('FiraSansOTLight'),
         local('FiraSansLight'),
         local('Fira Sans OT Light'),
         local('Fira Sans Light'),
         url('../fonts/FiraSans/firasansot-light-webfont.woff') format('woff'),
         url('../fonts/FiraSans/firasansot-light-webfont.ttf') format('truetype'),
         url('../fonts/FiraSans/firasansot-light-webfont.svg#fira_sans_otlight') format('svg');
    font-family: FiraSansWeb;
    font-weight: 200;
}

@font-face {
    src: local('FiraSansOT'),
         local('FiraSans'),
         local('Fira Sans OT'),
         local('Fira Sans'),
         url('../fonts/FiraSans/firasansot-regular-webfont.woff') format('woff'),
         url('../fonts/FiraSans/firasansot-regular-webfont.ttf') format('truetype'),
         url('../fonts/FiraSans/firasansot-regular-webfont.svg#fira_sans_otregular') format('svg');
    font-family: FiraSansWeb;
    font-weight: 400;
}

@font-face {
    src: local('FiraSansOTMedium'),
         local('FiraSansMedium'),
         local('Fira Sans OT Medium'),
         local('Fira Sans Medium'),
         url('../fonts/FiraSans/firasansot-medium-webfont.woff') format('woff'),
         url('../fonts/FiraSans/firasansot-medium-webfont.ttf') format('truetype'),
         url('../fonts/FiraSans/firasansot-medium-webfont.svg#fira_sans_otmedium') format('svg');
    font-family: FiraSansWeb;
    font-weight: 500;
}

@font-face {
    /* Yes, the PostScript name contains a hyphen. Not a typo. */
    src: local('FiraSansOT-Bold'),
         local('FiraSans-Bold'),
         local('Fira Sans OT Bold'),
         local('Fira Sans Bold'),
         url('../fonts/FiraSans/firasansot-bold-webfont.woff') format('woff'),
         url('../fonts/FiraSans/firasansot-bold-webfont.ttf') format('truetype'),
         url('../fonts/FiraSans/firasansot-bold-webfont.svg#fira_sans_otbold') format('svg');
    font-family: FiraSansWeb;
    font-weight: 600;
}

@font-face {
    /* Yes, the PostScript name contains a hyphen. Not a typo. */
    src: local('FiraSansOTLight-Italic'),
         local('FiraSansLight-Italic'),
         local('Fira Sans OT Light Italic'),
         local('Fira Sans Light Italic'),
         url('../fonts/FiraSans/firasansot-lightitalic-webfont.woff') format('woff'),
         url('../fonts/FiraSans/firasansot-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/FiraSans/firasansot-lightitalic-webfont.svg#fira_sans_otlight_italic') format('svg');
    font-family: FiraSansWeb;
    font-weight: 200;
    font-style: italic;
}

@font-face {
    /* Yes, the PostScript name contains a hyphen. Not a typo. */
    src: local('FiraSansOT-Italic'),
         local('FiraSans-Italic'),
         local('Fira Sans OT Italic'),
         local('Fira Sans Italic'),
         url('../fonts/FiraSans/firasansot-regularitalic-webfont.woff') format('woff'),
         url('../fonts/FiraSans/firasansot-regularitalic-webfont.ttf') format('truetype'),
         url('../fonts/FiraSans/firasansot-regularitalic-webfont.svg#fira_sans_otitalic') format('svg');
    font-family: FiraSansWeb;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    /* Yes, the PostScript name contains a hyphen. Not a typo. */
    src: local('FiraSansOTMedium-Italic'),
         local('FiraSansMedium-Italic'),
         local('Fira Sans OT Medium Italic'),
         local('Fira Sans Medium Italic'),
         url('../fonts/FiraSans/firasansot-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/FiraSans/firasansot-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/FiraSans/firasansot-mediumitalic-webfont.svg#fira_sans_otmedium_italic') format('svg');
    font-family: FiraSansWeb;
    font-weight: 500;
    font-style: italic;
}

@font-face {
    /**
     * Yes, the PostScript name contains a hyphen. And yes, the word Bold comes
     * after the hyphen, not before the hyphen like Medium and Light. Weird, but
     * not a typo.
     */
    src: local('FiraSansOT-BoldItalic'),
         local('FiraSans-BoldItalic'),
         local('Fira Sans OT Bold Italic'),
         local('Fira Sans Bold Italic'),
         url('../fonts/FiraSans/firasansot-bolditalic-webfont.woff') format('woff'),
         url('../fonts/FiraSans/firasansot-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/FiraSans/firasansot-bolditalic-webfont.svg#fira_sans_otbold_italic') format('svg');
    font-family: FiraSansWeb;
    font-weight: 600;
    font-style: italic;
}
// @stylint on

/* Jon Neal approach to a box-sizing reset. */
*, *::before, *::after { // @stylint ignore
    box-sizing: inherit;
}

body {
    color: #000;
    font-family: 'Fira Sans OT', 'Fira Sans', FiraSansWeb, sans-serif;
    font-size: 13px;
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-size: 1920px auto;
}

#application {
    position: relative;
    top: 10px;
}

#main-header, main, footer > div {
    margin: 0 auto;
    width: 95vw;
}

main {
    padding: 12px 0;
}

a {
    color: $link-color-normal;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    border-bottom: 1px solid $link-color-normal;
}

p, span {
    font-size: 1rem;
    line-height: 28px;
    margin: 10px 0;
}

h2, h3 {
    font-size: 17px;
}

.contrasted {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.2;
    padding: 10px;
}

dd {
    margin: 0;
}

@media $base-tablet {
    body {
        font-size: 14px;
    }

    #application {
        top: 40px;
    }

    #main-header, main, footer > div {
        width: 85vw;
    }

    p, span {
        font-size: 1.1rem;
    }

    main {
        padding: 20px 0;
    }
}

@media $base-desktop {
    #main-header, main, footer > div {
        width: 1170px;
    }
}
