.customizable-date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    &.spaced {
        margin-top: 25px;
    }
    .labelled-selector {
        margin: 20px 0;
    }
    .striped {
        width: 100%;
    }
}
