$table-vertical-padding = 15px;

.data-table-wrapper {
    width: 100%;
}

.data-table {
    border-collapse: collapse;
    width: 100%;

    thead {
        tr th {
            border-bottom: 1px solid #cfcfcf;
        }
        th {
            padding-bottom: $table-vertical-padding;
        }
    }
    td {
        padding: 8px 0;

        &:first-child {
            padding-left: 10px;
        }
    }
    tr:first-child td {
        padding-top: $table-vertical-padding;
    }
    th:first-child, td:first-child, th:nth-child(2), td:nth-child(2) {
        text-align: left;
    }
    th:last-child, td:last-child {
        text-align: right;
        padding-right: 10px;
    }
    /* Give the columns fixed widths, otherwise their widths might change when
       values change.

       These should all add up to the total width of the table. They need to be
       fixed widhts because otherwise truncation (see below) wouldn't work. */
    .rank {
        width: 50px;
    }
    .value {
        width: 220px;
    }

    /* Truncate long add-on names. These properties can't be set on a selector that
       targets a <col>, so we need to select the <td> directly.

       https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/ */
    td:nth-child(2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        // Needs to be max-width or else truncation won't work
        max-width: 145px;
    }
    tr:nth-child(even) td {
        background-color: #efefef;
    }
}
