@import 'includes/lib';

footer {
    padding: 40px 0 50px;
    background-color: #000;
    color: #fff;
    text-align: center;

    a {
        color: #fff;
        border-bottom: 1px solid #fff;

        &:hover {
            border-bottom: 1px solid #fff;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        text-align: center;
        margin: 0 0 40px;
    }
    h3 {
        margin: 0 0 6px;
        line-height: 32px;
    }
}

.footer-primary {
    display: flex;
    flex-direction: column;

    ul {
        font-size: 12px;
        line-height: 18px;
    }
    li {
        margin: 0 0 10px;
    }
}

.footer-secondary {
    font-size: 10px;

    ul {
        display: flex;
        justify-content: space-around;
    }
    p {
        font-size: 10px;
        text-align: center;
        line-height: 18px;
    }
}

.footer-social {
    padding-top: 3px;

    a {
        text-indent: 120%;
        background: url(../img/social_logos_sprite.png) no-repeat;
        background-position: 0 2px;
        display: inline-block;
        background-size: 16px;
        height: 16px;
        width: 16px;
        margin-right: 15px;
        border: 0;
        overflow: hidden;

        &:hover {
            border: 0;
        }
    }
    ul {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    li {
        &:nth-child(2) a {
            background-position: 0 -16px;
        }
        &:last-child a {
            background-position: 0 -32px;
        }
    }
}

// Stylint falsely sees this as a duplicate target. It's a specificity override.
.footer-primary > div:last-child .footer-social li:last-child a { // @stylint ignore
    background-position: 0 -48px;
}

.footer-logo {
    background: url(../img/moz-wordmark-light-reverse.svg) no-repeat;
    background-size: 100px 32px;
    overflow: hidden;
    text-indent: 120%;
    display: none;
    height: 32px;
    width: 100px;

    &:hover {
        border: 0;
    }
}

@media $base-tablet {
    footer {
        text-align: left;

        ul {
            text-align: left;
            margin: 0;
        }
        a {
            border: 0;
        }
    }

    .footer-primary {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-logo {
        display: inline-block;
    }

    .footer-secondary {
        margin-top: 50px;

        ul {
            justify-content: flex-start;
        }
        li {
            padding: 0 20px 0 0;
        }
        p {
            text-align: left;
        }
    }

    .footer-social ul {
        justify-content: flex-start;
    }
}
