#main-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #676767;
}

h1 {
    font-weight: 300;
    margin: 0;
}

h1 a {
    color: inherit;
    border-bottom: 0;
    background-color: #f5e14a;
    line-height: 1.5;
    display: inline-block;
    padding: 0 10px;
}

h1 a:hover {
    border-bottom: 0;
}

#main-navigation span {
    margin: 0;
}

#main-navigation > ul {
    display: flex;
    flex-wrap: wrap;
}

#main-navigation > ul > li {
    margin: 10px 20px;
    position: relative;
}

#main-navigation > ul > li:last-child {
    margin-right: 0;
}

#main-navigation ul {
    list-style: none;
    padding: 0;
}

#main-navigation > ul > li > a,
.subnav-title {
    font-size: 1.1rem;
    font-weight: 200;
}

#main-navigation > ul > li > a {
    border-bottom: none;
    color: #000;
}

/* This rule vertically aligns menu items with themselves and also aligns
   section titles with their corresponding arrows. */
#main-navigation > ul > li:not(.has-subnav),
.subnav-title {
    display: flex;
    align-items: center;
}

.subnav-title {
    /* In addition to making the cursor a pointer, this makes the "hover" effect
       a "tap" effect on some mobile browsers. That is, in our case, tapping on
       a section title will cause the subnav to appear when this rule is
       present. */
    cursor: pointer;
}

/* Add a down arrow to the right of the navigation section title */
.subnav-title::after {
    content: "\25BC";
    font-size: .7em;
    padding-left: 8px;
}

.subnav {
    /* By default, don't show any subnavs */
    display: none;

    /* Draw over everything else */
    z-index: 20;

    background: #fff;
    box-shadow: 3px 3px 3px #666;
    white-space: nowrap;

    position: absolute;
}

.navigation-group:hover .subnav {
    display: flex;
    flex-direction: column;

    left: -20px; /* Equal to the left-padding of the li, so that text aligns */
}

.navigation-coming-soon:hover .subnav {
    display: block;
    padding: 15px;
    left: -15px; /* Equal to the left-padding so that text aligns */
}

.navigation-group:hover li {
    padding: 8px 20px;
}

.navigation-group:hover li:first-child {
    padding-top: 16px; /* 2x the normal padding */
}

.navigation-group:hover li:last-child {
    padding-bottom: 16px; /* 2x the normal padding */
}
