@import 'includes/lib';

$accent-color = #efefef;
$border-style = 1px solid $accent-color;
$section-spacing = 20px 0;

#introduction section {
    margin: $section-spacing;
}

#content dl {
    margin: 10px 0;
}

.explanations {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: space-between;
    line-height: 1.5;
    margin: 0;

    &.alt {
        dt {
            border: $border-style;
            font-weight: 800;
        }
        dt, dd {
            padding: 10px;
        }
        dd {
            background-color: $accent-color;
        }
    }
}

.highlighted {
    margin: $section-spacing;
}

@media $base-tablet {
    .explanations {
        flex-direction: row;

        &.alt {
            dd {
                border-right: $border-style;
            }
            dt {
                border-left: 0;
            }
            div:first-child dt {
                border-left: $border-style;
            }
            div:last-child dd {
                border-right: $border-style;
            }
        }
        &.split > div {
            width: 45%;
        }
    }
}
