.labelled-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    select {
        padding-top: 0;
        padding-bottom: 0;
    }
    label {
        margin-right: 10px;

        &::after {
            content: ': ';
        }
    }
}
