#dashboard h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    font-weight: 400;
}

#dashboard #category {
    display: flex;
    margin: 20px 0 50px 0;

    align-items: center;
    justify-content: center;
}

#dashboard #category label {
    margin-right: 10px;
}

#dashboard #category label:after {
    content: ": ";
}
