#main-header {
    border-bottom: 1px solid #676767;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

h1 {
    margin: 0;
    color: #f1f1f1;
    font-weight: 300;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

#main-navigation ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    color: #f1f1f1;
}

#main-navigation li {
    margin: 0 20px;
}

#main-navigation li:first-child {
    margin-left: 0;
}

#main-navigation li:last-child {
    margin-right: 0;
}
