// Responsive Breakpoints
$base-tablet = unquote('all and (min-width: 550px)');
$base-desktop = unquote('all and (min-width: 1200px)');

// Colours
$link-color-normal = #0070ff;

// TODO: padding/margin spacing.
